/* Responsive styles for iPhone */
@media only screen and (max-device-width: 440px) {
  .hero1{
    height: 280px;
  }
  .iphone{
    width: 96%;
  }
    .hero {
      max-width: 100%;
      height: auto;
      padding: 0; /* Adjust padding as needed */
    }
    .slider {
      border-radius: 0; /* Remove border-radius for smaller screens */
    }
    .hidden {
      display: none; /* Hide arrows on smaller screens */
    }
    .flex {
      justify-content: flex-start; /* Adjust alignment for dots */
    }
  }
  .slider {
    width: 96%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  
  @media only screen and (max-device-width: 768px) {
    .hero1{
      height: 280px;
    }
    .iphone{
      width: 100%;
      padding: 0%;
    }

  }